{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<div class="detail-container">

    <div class="detail-image-box">
        <img src="{{ plant.image.url }}" class="detail-image">
    </div>

    <div class="detail-info">

        <h1>{{ plant.name }}</h1>

        <p class="detail-category">{{ plant.get_category_display }}</p>

        <p class="detail-about">{{ plant.about }}</p>

        <p><strong>Is Edible:</strong> {{ plant.is_edible|yesno:"Yes,No" }}</p>

        <p><strong>Used For:</strong> {{ plant.used_for }}</p>

        <div class="plant-countries">
            <h3>Native Countries:</h3>

            <div class="country-badges">
                {% for country in plant.countries.all %}
                    <a href="{% url 'plants:plants_country_view' country.id %}" class="country-badge">
                        <img src="{{ country.flag.url }}" class="flag-icon">
                        {{ country.name }}
                    </a>
                {% empty %}
                    <p>No country added</p>
                {% endfor %}
            </div>
        </div>



        <div class="detail-buttons">
            <a href="{% url 'plants:plants_update_view' plant.id %}" class="btn-edit">Edit</a>
            <a 
                href="{% url 'plants:plants_delet_view' plant.id %}" 
                class="btn-delete"
                onclick="return confirm('Are you sure you want to delete this plant?');"
            >
                Delete
            </a>
        </div>

    </div>

</div>


<h2 class="related-title">Related Plants</h2>

<div class="related-wrapper">
    {% if related_plants %}
        {% for item in related_plants %}
            {% include 'plants/plant_card.html' with plant=item %}

        {% endfor %}
    {% else %}
        <p class="no-related">No related plants available.</p>
    {% endif %}
</div>


<div class="reviews-section">

    <h2 class="related-title">Reviews</h2>

    <div class="reviews-wrapper">
        {% if reviews %}
            {% for r in reviews %}
                <div class="review-card">
                    <strong>{{ r.name }}</strong>
                    <p>{{ r.comment }}</p>
                    <small>{{ r.created_at|date:"Y-m-d H:i" }}</small>
                </div>
            {% endfor %}
        {% else %}
            <p class="no-related">No reviews yet.</p>
        {% endif %}
    </div>

    <h3 class="related-title">Add a Review</h3>

    <form method="POST" action="{% url 'plants:add_review_view' plant.id %}" class="review-form">
        {% csrf_token %}

        <div class="form-group">
            <label>Your Name</label>
            <input type="text" name="name" required>
        </div>

        <div class="form-group">
            <label>Comment</label>
            <textarea name="comment" rows="4" required></textarea>
        </div>

        <button type="submit" class="btn-edit">Submit</button>
    </form>

</div>



{% endblock %}
